body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin-top: 50px;
}

h1 {
    color: #0077cc;
}

input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

#result {
    margin-top: 20px;
    padding: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}
